:root {
  --height-header: 200px;
}

.App {
  position: relative;
  padding-top: var(--height-header);

  @include mobile {
    padding-top: 380px;
  }
}

.header {
  background-color: teal;
  color: var(--white);
  min-height: var(--height-header);
  transition: 300ms;
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;

  &.sticky {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    min-height: 100px;

    .header {
      &__img {
        img {
          width: 75px;
          margin: auto;
          border-radius: 50%;
        }
      }

      &__wrapper {
        > .iko-row {
          @include flex(center, center);
          min-height: 100px;
        }
      }

      &__info {
        display: none;
      }

      &__title_sub {
        margin-bottom: 0;
      }
    }
  }

  &__wrapper {
    > .iko-row {
      @include flex(center, center);
      min-height: var(--height-header);
      transition: 300ms;
    }
  }

  &__img {
    img {
      width: 150px;
      margin: auto;
      border-radius: 50%;
      transition: 300ms;
    }
  }

  &__title {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 0px;

    &__sub {
      font-size: 28px;
    }
  }

  &__info {
    &__item {
      @include flex(center, flex-start);
      margin-bottom: 5px;

      &__icon {
        margin-right: 5px;
      }
    }
  }
}

.footer {
  background-color: teal;
  text-align: center;
  color: white;
  .iko-row {
    height: 80px;
    @include flex(center, center);
  }

  &__copyright {
    text-align: center;
  }
}
